server {
    listen *:{{ nginx_port }} default_server;
    server_name default;

    root       /var/www/site;
    access_log {{ nginx_log_path }}/access.log;
    error_log  {{ nginx_log_path }}/error.log;
    
    set $phpini "
        error_log={{ nginx_log_path }}/php-errors.log
    ";

    index index.php index.html;

    location ~ ^(.*\.php)$ {
        include fastcgi_params;
        fastcgi_pass unix:/run/php/php{{ php_ver }}-fpm.sock;
    
        
        fastcgi_param PHP_VALUE "$phpini";
        fastcgi_param SCRIPT_FILENAME $document_root$1;
    }
}
